# ==============================================
# Android & Java Development
# ==============================================
.DS*

# ==============================================
# Dependencies
# ==============================================
node_modules

# ==============================================
# Deployments files
# ==============================================
.openzeppelin
deployments

# ==============================================
# Environment Variables
# ==============================================
.env.*
!.env.example

# ==============================================
# Hardhat files
# ==============================================
artifacts
cache
gas-report.txt

# ==============================================
# Hardhat Ignition default folder for deployments against a local node
# ==============================================
ignition/deployments/chain-31337

# ==============================================
# Package Managers
# ==============================================
bun.lockb
package-lock.json
pnpm-lock.yaml
yarn.lock

# ==============================================
# solidity-coverage files
# ==============================================
coverage
coverage.json

# ==============================================
# TypeChain files
# ==============================================
typechain
typechain-types



