
# ==============================================
# Dependencies
# ==============================================
node_modules

# ==============================================
# Hardhat files
# ==============================================
artifacts
cache

# ==============================================
# solidity-coverage files
# ==============================================
coverage
coverage.json

# ==============================================
# TypeChain files
# ==============================================
typechain-types



